<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mellross Homes</title>

		<link href="css/style.css" rel="stylesheet" />
		<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
		<!-- Font -->
		<script src="https://use.typekit.net/xxj4mxo.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<!-- Mobile Metatags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>

		<!-- Pushy Menu -->
		<nav class="pushy pushy-left">
			<!-- Search -->
			<div class="search-field">
				<input type="search" placeholder="Search...">
				<button type="submit">
					<svg>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#search">
					</use></svg>
				</button>
			</div>
			<!-- Main Nav -->
			<ul class="primary">
					<li class="pushy-submenu">
							<a href="#">Residential</a>
							<ul>
									<li class="pushy-link"><a href="#">Item 1</a></li>
									<li class="pushy-link"><a href="#">Item 2</a></li>
									<li class="pushy-link"><a href="#">Item 3</a></li>
							</ul>
					</li>
					<li class="pushy-submenu">
							<a href="#">Commercial</a>
							<ul>
									<li class="pushy-link"><a href="#">Item 1</a></li>
									<li class="pushy-link"><a href="#">Item 2</a></li>
									<li class="pushy-link"><a href="#">Item 3</a></li>
							</ul>
					</li>
					<li class="pushy-submenu">
							<a href="#">Our Services</a>
							<ul>
									<li class="pushy-link"><a href="#">Item 1</a></li>
									<li class="pushy-link"><a href="#">Item 2</a></li>
									<li class="pushy-link"><a href="#">Item 3</a></li>
							</ul>
					</li>
					<li class="pushy-submenu">
							<a href="#">Find An Agent</a>
							<ul>
									<li class="pushy-link"><a href="#">Item 1</a></li>
									<li class="pushy-link"><a href="#">Item 2</a></li>
									<li class="pushy-link"><a href="#">Item 3</a></li>
							</ul>
					</li>
			</ul>
			<!-- Nav -->
			<ul class="sub">
				<li>
					<a href="#" title="">
						FAQ
					</a>
				</li>
				<li>
					<a href="#" title="">
						Client Area
					</a>
				</li>
				<li>
					<a href="#" title="">
						Contact Us
					</a>
				</li>
			</ul>
			<!-- Social -->
			<ul class="social">
				<li>
					<a href="#" title="Facebook">
						<svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#facebook">
						</use></svg>
					</a>
				</li>
				<li>
					<a href="#" title="Instagram">
						<svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#instagram">
						</use></svg>
					</a>
				</li>
				<li>
					<a href="#" title="Twitter">
						<svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#twitter">
						</use></svg>
					</a>
				</li>
				<li>
					<a href="#" title="Youtube">
						<svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#youtube">
							</use>
						</svg>
					</a>
				</li>
			</ul>
		</nav>

		<!-- Site Overlay -->
		<div class="site-overlay"></div>


		<div class="main-area">
			<!-- Header -->
			<header>
				<div class="bottomborder"></div>
				<!-- Below -->
				<section class="below">
					<div class="row">
						<div class="large-12 columns">
							<div class="contain clearfix">
								<!-- Logo -->
								<a href="#" title="?" class="logo">
									<img src="img/logo.svg" alt="a cute kitten">
									<!-- <div class="tagline">Cut costs, not quality</div> -->
								</a>

								<!-- Right items -->
								<div class="right-items">
									<!-- Menu Button -->
									<button class="menu-btn">
											<div class="icon">
												<span></span>
												<span></span>
												<span></span>
											</div>
											Menu
										</button>

									<div class="clearfix">
										<!-- Social -->
										<ul class="social">
											<li>
												<a href="#" title="Facebook">
													<svg>
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#facebook">
														</use></svg>
												</a>
											</li>
											<li>
												<a href="#" title="Instagram">
													<svg>
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#instagram">
														</use></svg>
												</a>
											</li>
											<li>
												<a href="#" title="Twitter">
													<svg>
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#twitter">
														</use></svg>
												</a>
											</li>
											<li>
												<a href="#" title="Youtube">
													<svg>
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#youtube">
															</use>
														</svg>
												</a>
											</li>
										</ul>
										<!-- Nav -->
										<nav>
											<ul>
												<li>
													<a href="#" title="">
															FAQ
														</a>
												</li>
												<li>
													<a href="#" title="">
															Client Area
														</a>
												</li>
												<li>
													<a href="#" title="">
															Contact Us
														</a>
												</li>
											</ul>
										</nav>
									</div>
									<div class="clearfix">
										<!-- Search -->
										<div class="search-field">
											<input type="search" placeholder="Search...">
											<button type="submit">
													<svg>
														<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#search">
													</use></svg>
												</button>
										</div>
										<!-- Phone -->
										<a class="phone" href="#">
											<svg>
													<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#phone"></use>
												</svg> 02 6382 5350
										</a>
									</div>
								</div>
								<!-- End right items -->
							</div>
						</div>
					</div>
				</section>
				<section class="primary-nav">
					<div class="row">
						<div class="large-12 columns">
							<!-- Main Nav -->
							<nav>
								<ul>
									<li class="current">
										<a href="#" title="">
												Home
											</a>
									</li>
									<li>
										<a href="#" title="">
												Building With Us
											</a>
										<!-- Dropdown Example -->
										<ul class="dropdown">
											<li>
												<a href="#" title="">
														Overview
													</a>
											</li>
											<li>
												<a href="#" title="">
														Ambassadors and friends
													</a>
											</li>
											<li>
												<a href="#" title="">
														Corporate sponsors and partners
													</a>
											</li>
											<li>
												<a href="#" title="">
														Fundraising campaigns
													</a>
											</li>
											<li>
												<a href="#" title="">
														Year in review
													</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" title="">
												Home Designs
											</a>
									</li>
									<li>
										<a href="#" title="">
												Quality Inclusions
											</a>
									</li>
									<li>
										<a href="#" title="">
												Home &amp; Land Packages
											</a>
									</li>
									<li>
										<a href="#" title="">
												Tips &amp; tools
											</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</section>
			</header>

			<!-- Page Banner -->
			<section class="page-banner" style="background-image: url('img/photo.jpg');">
				<div class="overlay">
					<div class="row">
						<div class="large-12 columns">
							<h1>Page Title</h1>
							<div class="break"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="breadcrumbs">
				<a href="#">Home</a> <span>/</span> Page Title
			</section>

			<!-- Three Things -->
			<section class="listings">
				<div class="row">
					<div class="large-9 large-push-3 medium-8 medium-push-4 columns">
						<div class="mainstuff">
							<!-- Content -->
							<div class="content">
							    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.  Nam liber tempor. This is a hyperlink. Typi non <a href="#" title="#">habent claritatem</a> insitam.</p>
							    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. This is some bolded text. Typi non habent claritatem insitam.</p>
							</div>
							<!-- Listing -->
							<div class="category-listing">
								<div class="row">
									<!-- <% loop $ListChildren %> -->
										<div class="large-4 medium-6 columns">
											<div class="category iseeyou">
												<a href="$Link" title="$Title.XML" class="image">
													<!-- $ListingImage.CroppedImage(500,300) -->
													<img src="img/listing.jpg" alt="Title" />
													<div class="text">
														<div class="title">
															This Is A Page Title
															<!-- $MenuTitle.XML -->
														</div>
													</div>
												</a>
											</div>
										</div>
									<!-- <% end_loop %> -->
										<div class="large-4 medium-6 columns">
											<div class="category iseeyou">
												<a href="$Link" title="$Title.XML" class="image">
													<!-- $ListingImage.CroppedImage(500,300) -->
													<img src="img/listing.jpg" alt="Title" />
													<div class="text">
														<div class="title">
															This Is A Page Title
															<!-- $MenuTitle.XML -->
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="large-4 medium-6 columns">
											<div class="category iseeyou">
												<a href="$Link" title="$Title.XML" class="image">
													<!-- $ListingImage.CroppedImage(500,300) -->
													<img src="img/listing.jpg" alt="Title" />
													<div class="text">
														<div class="title">
															This Is A Page Title
															<!-- $MenuTitle.XML -->
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="large-4 medium-6 columns">
											<div class="category iseeyou">
												<a href="$Link" title="$Title.XML" class="image">
													<!-- $ListingImage.CroppedImage(500,300) -->
													<img src="img/listing.jpg" alt="Title" />
													<div class="text">
														<div class="title">
															This Is A Page Title
															<!-- $MenuTitle.XML -->
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="large-4 medium-6 columns">
											<div class="category iseeyou">
												<a href="$Link" title="$Title.XML" class="image">
													<!-- $ListingImage.CroppedImage(500,300) -->
													<img src="img/listing.jpg" alt="Title" />
													<div class="text">
														<div class="title">
															This Is A Page Title
															<!-- $MenuTitle.XML -->
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="large-4 medium-6 columns">
											<div class="category iseeyou">
												<a href="$Link" title="$Title.XML" class="image">
													<!-- $ListingImage.CroppedImage(500,300) -->
													<img src="img/listing.jpg" alt="Title" />
													<div class="text">
														<div class="title">
															This Is A Page Title
															<!-- $MenuTitle.XML -->
														</div>
													</div>
												</a>
											</div>
										</div>
								</div>
							</div>
							<!-- Pagination -->
							<div class="pagination">
								<div>
									<ul class="clearfix">
										<li class="arrow prev unavailable"><a>« Previous</a></li>
										<li class="selected" data-value="0"><a data-value="0">1</a></li>
										<li class="" data-value="1"><a data-value="20">2</a></li>
										<li class="" data-value="4"><a data-value="80">...</a></li>
										<li class="" data-value="9"><a data-value="180">7</a></li>
										<li class="" data-value="10"><a data-value="200">8</a></li>
										<li class="arrow next"><a>Next »</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="large-3 large-pull-9 medium-4 medium-pull-8 columns">
						<!-- Sidebar -->
						<nav class="sidebar-nav">
						  <ul>
						    <li><a class="haschildren" href="#">About</a></li>
						    <li class="section">
						      <a class="open" href="#">Tools &amp; Resources</a>
						      <!-- Second Level -->
						      <ul>
						        <li><a href="#">Navigation Item</a></li>
						        <li><a class="haschildren" href="#">Another Page</a></li>
						        <li><a href="#">Blog</a></li>
						        <li class="section">
						          <a class="haschildren open" href="#">Category</a>
						          <!-- Third Level -->
						          <ul>
						            <li><a href="#">Something Or Other</a></li>
						            <li><a href="#">Another Page</a></li>
						            <li class="current">
						              <a class="current open" href="#">Basic Content Page</a>
						              <ul>
						                <li><a href="#">Deep Level Example</a></li>
						                <li><a href="#">Extra Deep</a></li>
						              </ul>
						            </li>
						            <li><a href="#">Contact Us</a></li>
						          </ul>
						        </li>
						      </ul>
						    </li>
						    <li><a class="haschildren" href="#">Another Page</a></li>
						    <li><a class="haschildren" href="#">Yet Another</a></li>
						    <li><a class="haschildren" href="#">Blog</a></li>
						    <li><a class="haschildren" href="#">Contact Us</a></li>
						  </ul>
						</nav>
					</div>
				</div>
			</section>

			<!-- Footer -->
			<footer>
				<div class="row">
					<div class="large-3 medium-6 small-6 columns">
						<!-- -->
						<div class="footer-bit">
							<h3>Mellross Services</h3>
							<nav>
								<ul>
									<li>
										<a href="#" title="Client Area">
												Building With Us
											</a>
									</li>
									<li>
										<a href="#" title="Client Area">
												Home Designs
											</a>
									</li>
									<li>
										<a href="#" title="Client Area">
												Quality Inclusions
											</a>
									</li>
									<li>
										<a href="#" title="Client Area">
												Home and Land Packages
											</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="large-3 medium-6 small-6 columns">
						<!-- -->
						<div class="footer-bit">
							<h3>Tools</h3>
							<nav>
								<ul>
									<li>
										<a href="#" title="Client Area">
												Client Area
											</a>
									</li>
									<li>
										<a href="#" title="Client Area">
												Tips and Tools
											</a>
									</li>
									<li>
										<a href="#" title="Client Area">
												FAQ
											</a>
									</li>
									<li>
										<a href="#" title="Client Area">
												Contact Us
											</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="large-3 large-push-3 medium-push-0 columns">
						<!-- Social -->
						<div class="footer-bit">
							<ul class="social">
								<li>
									<a href="#" title="Facebook">
										<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#facebook">
											</use></svg>
									</a>
								</li>
								<li>
									<a href="#" title="Instagram">
										<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#instagram">
											</use></svg>
									</a>
								</li>
								<li>
									<a href="#" title="Twitter">
										<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#twitter">
											</use></svg>
									</a>
								</li>
								<li>
									<a href="#" title="Youtube">
										<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#youtube">
											</use></svg>
									</a>
								</li>
							</ul>
							<p>Copyright &copy; Mellross Homes Pty Ltd<br>LIC NO: 1287C ABN: 18 966 366 993</p>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<script src="js/home.js" type="text/javascript"></script>
		<script src="js/page.js" type="text/javascript"></script>

	</body>
</html>
