.home-banner {
	position: relative;
	overflow: hidden;

	&.loading {
		.loader {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}
}

.home-banner .loader {
	opacity: 0;
	visibility: hidden;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	z-index: 2;
}

/* Home Slider */
.slide {
	padding-top: 35%;
	position: relative;
	background-color: #EFEFEF;
}

.home-banner .slide {
	padding-top: 50%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.slide .overlay {
  position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
  z-index: 2;
	width: 100%;
	animation: show 1s ease 1;
	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	padding: 100px 0 0 0;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.slide .caption {
	padding: 3rem 0;
	color: #FFFFFF;

	font-size: 1rem;
    line-height: 1;
    white-space: normal;
		// text-align: center;
}

.slide .caption .break {
	height: 2px;
	width: 100px;
	background-color: $teal;
	background: linear-gradient(to right, $purple 0%, $teal 100%);
	margin: 20px 0 20px 0;
}

.slide .caption h2 {
	font-size: 3.5rem;
}

.slide .caption p {
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-top: 1.5rem;
}

.slide .caption a.go {
	display: inline-block;
	text-align: center;
	padding: 16px 20px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 1rem;
  background-color: $teal;
}

.home-banner {
	.prev,
	.next {
    position: absolute;
    bottom: 0px;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s all ease;
		z-index: 3;
	}
	.prev:hover,
	.next:hover {
		background-color: $teal;
	}
	.prev {
	    right: 50px;
	}

	.next {
	    right: 0;
	}

	.next svg,
	.prev svg {
	    width: 25px;
		height: 50px;
		fill: #FFFFFF;
		display: block;
		margin: 0 auto;
	}

	.prev:hover svg,
	.next:hover svg {
		// fill: $teal;
	}
}
