/* Search */

.searchResults .whatResults {
	padding: 32px;
	padding: 2rem;
	margin: 1rem 0;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #BEC5CA;

	h1 {
		font-size: 48px;
		font-size: 3rem;
		line-height: 1.2;
		color: $purple;
		margin: 0;
	}

	p {
		font-size: 20px;
		font-size: 1.25em;
		line-height: 1.4;
		margin: 0;
	}
}

.searchResults ul {
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 32px 0px;
		padding: 2rem 0rem;
		border-bottom: 1px dotted #d4dde4;

		&:last-child {
			padding-bottom: 0px;
			border-bottom: none;
		}
	}
}

.searchResults ul li {
	h4 {
		padding: 0;
		margin: 8px 0px;
		margin: 0.5rem 0rem;
		color: $purple;
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 28px;
		line-height: 1.75rem;
		font-weight: bold;

		a {
			color: $purple;
			text-decoration: none;
		}
		a:hover,
		a:focus {
			text-decoration: underline;
		}
	}

	p {
		padding: 0;
		margin: 8px 0px;
		margin: 0.5rem 0rem;
		font-size: 20px;
		font-size: 1.25em;
		line-height: 1.4;
	}
}

.searchResults ul li a.readMoreLink {
	margin: 8px 0px;
	margin: 0.5rem 0rem;
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	font-size: 1.25em;
	line-height: 1.4;

	text-decoration: none;
	border-radius: 5px;
	transition: all 0.3s ease;
	padding: 8px 12px 8px 12px;
	background-color: $purple;
	color: #FFFFFF;
	font-weight: bold;

	&:hover {
		color: #FFFFFF;
		text-decoration: none;
		background-color: $purple;
	}
}
